<div class="block notice">
  <h3>News Flash</h3>
  <div class="content">
    <p>We are expanding. New verticals to our company will be added soon !</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Click Me</a></li>
    <li><a href="#">Click Me</a></li>
  </ul>
</div>